@import url(./libs/reset.scss);
*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  height: 0;
}
html body{
  height: 100%;
}
body {
  background-color:white;
  height: 100%;
  margin-left: auto;
  margin-right: auto;    
  
}

